<!DOCTYPE html>
<html>
<h1>Ghibli Studio People-to-Movie Map</h1>
  <body>
    <table border="1">
        <thead>
        <tr>
            <th>Movie title</th>
            <th>People that appear</th>
        </tr>
        </thead>
        <tbody>
        {% for map_ in maps_collection %}
        <tr>
            <td>{{ map_.movie_title }}</td>
            <td>
                {% for person in map_.people %}
                {{ person }} <br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </body>
</html>